/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.heroBanner2 {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.buttons2 {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: white;
  box-sizing: border-box;
  margin: 0em;
  font: 400 25px system-ui;
  padding: 2px 7px 2px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  border:  3px solid #e6ecf1;
}

.buttons2:hover {
  opacity: 0.6;
  font-weight: bold;
}

